<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-simple-notify/dist/vue-simple-notify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
</head>
<body>
    <main id="v-app">
        <section class="alerts">
            <alerts-component :items="alerts"></alerts-component>
        </section>
        <section class="chat">
            <h1>WebSockets Tester</h1>
            <form>
                <input type="text" v-model="text" />
                <button type="submit" @click.prevent="sendChatMsg">Send</button>
            </form>
            <p>
                <ul>
                    <li v-for="msg of messages">
                        <strong>{{ msg.sender }}</strong> {{ msg.message }}
                    </li>
                </ul>
            </p>
        </section>
    </main>
    <script>
        Vue.component('alerts-component', VueSimpleNotify.VueSimpleNotify)
        const app = new Vue({
            el: "#v-app",
            data: {
                username: '',
                text: '',
                messages: [],
                alerts: [],
                sockets: {
                    chat: null,
                    alerts: null
                }
            },
            methods: {
                sendChatMsg() {
                    console.log(`Send: ${this.text}`)
                    this.sockets.chat.emit("chatToServer", { message: this.text, sender: this.username})
                    this.text = ''
                },
                receiveChatMsg(msg) {
                    console.log(`Received: ${msg}`)
                    this.messages.push(msg)
                }
            },
            created() {
                this.username = prompt('Enter username: ')
                this.sockets.chat = io.connect("http://localhost:3000/chat")
                this.sockets.chat.on("chatToClient", (msg) => {
                    this.receiveChatMsg(msg)
                })

                this.sockets.alert = io.connect("http://localhost:3000/alert")
                this.sockets.alert.on("alertToClient", (msg) => {
                    this.receiveAlertMsg(msg)
                })
            }
        })
    </script>
</body>
</html>